<div>
  <mat-card>
    <mat-card-title>Time Series</mat-card-title>
    <mat-card-subtitle>Data sent (KB) per source IP address over time</mat-card-subtitle>

    <nvd3 [options]="options" [data]="data"></nvd3>
  </mat-card>
</div>
