<div>
  <mat-card>
    <mat-card-title>Traffic: Top 100</mat-card-title>
    <mat-card-subtitle>Data sent (KB) per destination IP address</mat-card-subtitle>

    <nvd3 [options]="options" [data]="data"></nvd3>
  </mat-card>
</div>
