mat-toolbar nav a {
  color: white;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}
mat-toolbar nav a:hover {
  color: #faed76;
}
.divider {
  margin-left: 10px;
  margin-right: 5px;
  opacity: 0.12;
}
