<mat-toolbar color="primary">
    <nav>
      <a routerLink="/traffic">Traffic Chart</a><span class='divider'>|</span>
      <a routerLink="/timebytes">Time Series</a>
    </nav>
</mat-toolbar>

<router-outlet></router-outlet>
